<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/carrusolimage/TracktEdu.1.jpg" alt="Carousel-image 1">
    
  </ng-template>
  <ng-template ngbSlide>
     <img src="assets/carrusolimage/TracktEdu.2.jpg" alt="Carousel-image 2">
    
   </ng-template>
   <ng-template ngbSlide>
      <img src="assets/carrusolimage/TracktEdu.3.jpg" alt="Carousel-image 3">
   
     </ng-template>
     <ng-template ngbSlide>
          <img src="assets/carrusolimage/TracktEdu.4.jpg" alt="Carousel-image 4">
        
     </ng-template>
     <ng-template ngbSlide>
         <img src="assets/carrusolimage/TracktEdu.5.jpg" alt="Carousel-image 5">
         
      </ng-template>
</ngb-carousel>