<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/carrusolimage/1.jpg" alt="image 1">
    <div class="carousel-caption">
      <h3>First Image</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
     <img src="assets/carrusolimage/2.jpg" alt="image 1">
     <div class="carousel-caption">
       <h3>Second Image</h3>
     </div>
   </ng-template>
   <ng-template ngbSlide>
       <img src="assets/carrusolimage/3.jpg" alt="image 1">
       <div class="carousel-caption">
         <h3>Tgird Image</h3>
       </div>
     </ng-template>
     <ng-template ngbSlide>
         <img src="assets/carrusolimage/4.jpg" alt="image 1">
         <div class="carousel-caption">
           <h3>Fourth Image</h3>
         </div>
     </ng-template>
     <ng-template ngbSlide>
         <img src="assets/carrusolimage/5.jpg" alt="image 1">
         <div class="carousel-caption">
           <h3>Fifth Image</h3>
         </div>
      </ng-template>
</ngb-carousel>