<div class="container">
      <mat-card>
      <mat-card-title>Chapter</mat-card-title>
      <form [formGroup]="chapterForm">
      <mat-card-content>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Chapter Id</span>
          </div>
          <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <!-- <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text"> Id</span>
          </div>
          <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="chapterid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div> -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Subject Id</span>
          </div>
          <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="subjectid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Chapter Name</span>
          </div>
          <input type="text" class="form-control" formControlName="chaptername" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Chapter Desciption</span>
          </div>
          <input type="text" class="form-control" formControlName="chspterdscription" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div>
           <span class="input-group-text">Is Active</span>
          </div>
          <input type="checkbox" formControlName="isactive" class="chkbox">
        </div>
<div>
    <button mat-button class="btn btn-danger " *ngIf="!id" type="reset">Reset</button>
    <button mat-button class="btn btn-primary btns" *ngIf="!id" (click)="addChapter()" >Add</button>
    <button mat-button class="btn btn-primary " *ngIf="id" (click)="upadtaeData()" >Update</button>
    <button mat-button class="btn btn-danger btns" *ngIf="id" (click)="deleteData()">Delete</button>
</div>

</mat-card-content>
</form>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
  <form [formGroup]="searchData">
    <div class="input-group mb-3">
      <input type="text" class="form-control search" placeholder="search here throgh Course Id..." formControlName="search"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <button class="btn btnsearch btn-primary" (click)="retriveCourse()">search</button>
    </div>
  </form>
</mat-card-content>
</mat-card>
<br>

<br>
  <h3>  Chapter Table</h3>
  <table class="table table-striped" *ngIf="chaptertable">
  <thead>
    <tr>
      <th scope="col">Chapter Id</th>
      <th scope="col">Subject Id</th>
      <th scope="col">Chapter Name</th>
      <th scope="col">Chapter Desciption</th>
      <th scope="col">Is Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let table of chaptertable" >
      <th scope="row">{{table.id}}</th>
      <td>{{table.subjectid}}</td>
      <td>{{table.chaptername}}</td>
      <td>{{table.chspterdscription}}</td>
      <td>{{table.isactive}}</td>
      <td><button  mat-button class="btn btn-primary "  (click)="editData(table.id)">Edit</button>
      </td>
    </tr>
  </tbody>
</table> 
<!-- <div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="14">14 items per page</option>
  </select>
</div> -->
</div>

