<ngb-tabset>
    <ngb-tab title="Quick Link">
      <ng-template ngbTabContent>
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <button mat-button routerLink="/"><i class="material-icons">
                      date_range
                      </i>Calander</button>
                </div>
                <div class="col-md-3"> 
                    <button mat-button>Event Creation</button>
                </div>
                <div class="col-md-3">
                    <button mat-button>HR</button>
                </div>
                <div class="col-md-3">
                    <button mat-button>News</button> </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3"> 
                      <button mat-button>Setting</button>
                  </div>
                  <div class="col-md-3">
                      <button mat-button>Students</button>
                  </div>
                  <div class="col-md-3">
                      
                  </div>
                  <div class="col-md-3">
                    
                  </div>
                 
              </div>
             
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Academics">
    <ng-template ngbTabContent>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <button mat-button ><i class="material-icons">
                    date_range
                    </i>Calander</button>
              </div>
              <div class="col-md-3"> 
                  <button mat-button>Event Creation</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>HR</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>News</button> </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3"> 
                    <button mat-button>Setting</button>
                </div>
                <div class="col-md-3">
                    <button mat-button>Students</button>
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                  
                </div>
               
            </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Collaboration">
     <ng-template ngbTabContent>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <button mat-button ><i class="material-icons">
                    date_range
                    </i>Calander</button>
              </div>
              <div class="col-md-3"> 
                  <button mat-button>Event Creation</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>HR</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>News</button> </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3"> 
                    <button mat-button>Setting</button>
                </div>
                <div class="col-md-3">
                    <button mat-button>Students</button>
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                  
                </div>
               
            </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Date and Reports">
     <ng-template ngbTabContent>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <button mat-button ><i class="material-icons">
                    date_range
                    </i>Calander</button>
              </div>
              <div class="col-md-3"> 
                  <button mat-button>Event Creation</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>HR</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>News</button> </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3"> 
                    <button mat-button>Setting</button>
                </div>
                <div class="col-md-3">
                    <button mat-button>Students</button>
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                  
                </div>
               
            </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Addministration">
    <ng-template ngbTabContent>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <button mat-button ><i class="material-icons">
                    date_range
                    </i>Calander</button>
              </div>
              <div class="col-md-3"> 
                  <button mat-button>Event Creation</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>HR</button>
              </div>
              <div class="col-md-3">
                  <button mat-button>News</button> </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3"> 
                    <button mat-button>Setting</button>
                </div>
                <div class="col-md-3">
                    <button mat-button>Students</button>
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                  
                </div>
               
            </div>
    </ng-template>
    </ngb-tab>
  </ngb-tabset>