<ngb-tabset>
    <ngb-tab title="Quick Link">
      <ng-template ngbTabContent>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae quas amet quia laboriosam voluptatem cupiditate qui optio soluta obcaecati ipsum sit! Dolor blanditiis saepe dolores sequi! Consequatur, atque molestiae.</p>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Academics">
    <ng-template ngbTabContent>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae quas amet quia laboriosam voluptatem cupiditate qui optio soluta obcaecati ipsum sit! Dolor blanditiis saepe dolores sequi! Consequatur, atque molestiae.</p>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Collaboration">
     <ng-template ngbTabContent>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae quas amet quia laboriosam voluptatem cupiditate qui optio soluta obcaecati ipsum sit! Dolor blanditiis saepe dolores sequi! Consequatur, atque molestiae.</p>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Date and Reports">
     <ng-template ngbTabContent>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae quas amet quia laboriosam voluptatem cupiditate qui optio soluta obcaecati ipsum sit! Dolor blanditiis saepe dolores sequi! Consequatur, atque molestiae.</p>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Addministration">
    <ng-template ngbTabContent>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae quas amet quia laboriosam voluptatem cupiditate qui optio soluta obcaecati ipsum sit! Dolor blanditiis saepe dolores sequi! Consequatur, atque molestiae.</p>
    </ng-template>
    </ngb-tab>
  </ngb-tabset>