.container {
    padding: 60px;
    width: 80%;
  }
  
  mat-form-field>input{
      width: 100%;
  }
  .btns{
      margin-left: 15px;
  }

  mat-card-title{
      text-align: center;
  }
 .search{
    width: 50%;
  }
  .btnsearch{
      width: 250px;
      border:1px solid black;
  }
  .chkbox{
      background-color: rgb(155, 18, 18);
      height: 38px;
      width: 38px;
  }
  input{
      margin-left: 5px;
  }
  .editbtns{
    margin-top: 5px;
    width: 80px;
    height: 40px;
    margin-left: 10px;
  }

  .btns{
    margin-left: 10px; 
  }
  .coursebtn{
        background-color: rgb(245, 97, 97);
      color: white;
  }