<div class="container">
    <mat-card>
       <mat-card-title>Course Management</mat-card-title>
        <mat-card-content>
         <form [formGroup]="courseForm">
         <div class="input-group mb-3">
           <div >
            <span class="input-group-text">Course Id</span>
           </div>
           <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="courseid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
         <div class="input-group mb-3">
           <div>
            <span class="input-group-text">School Id</span>
           </div>
           <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="schoolid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
         <div class="input-group mb-3">
           <div>
            <span class="input-group-text" id="inputGroup-sizing-default">Course Name</span>
           </div>
           <input type="text" class="form-control" formControlName="coursename" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
         <div class="input-group mb-3">
           <div>
            <span class="input-group-text" id="inputGroup-sizing-default">Course Code</span>
           </div>
           <input type="text" class="form-control" formControlName="coursecode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
         <div class="input-group mb-3">
           <div>
            <span class="input-group-text" id="inputGroup-sizing-default">Is Active</span>
           </div>
           <input type="checkbox"  class="chkbox" formControlName="isactive">
         </div>
         <!-- <div class="input-group mb-3">
             <input type="text" class="form-control search" placeholder="search here for deleteing and update..." formControlName="search"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
             <button class="btn btnsearch" (click)="retriveCourse()">search</button>
         </div> -->
         <div>
            <button type="reset" class="btn  btn-primary" routerLink="/course">Back</button>
             <button class="btn btn-primary btns"  (click)="addCourse()">Add</button>
             <button type="reset" class="btn btns coursebtn" >Reset</button>
         </div>
 </form>
 </mat-card-content>
 </mat-card>
</div>