.container {
    padding: 60px;
    width: 80%;
  }
  h3{
      text-align: center;
  }
  mat-form-field>input{
      width: 100%;
  }
  .btns{
      margin-left: 10px;
  }
  mat-card-title{
      text-align: center;
  }
  .chkbox{
    height: 38px;
    width: 38px;
    margin-left: 10px;
  }

  .search{
    width: 50%;
  }
  .btnsearch{
      width: 150px;
      border:1px solid black;
  }