<mat-toolbar color="primary">
  <mat-toolbar-row>

  <div fxLayoutGap="10px">
    <button mat-icon-button class="home" (click)="showHide()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/dashboard"><h3>TracktEdu</h3></button>
    </div>
  <div class="rightbtns" fxFlex fxLayouit fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <input type="text" class="form-control" placeholder="search..">
        <button mat-icon-button class="right_buttons" (click)="openDialog()"><i class="material-icons">toc</i></button>
        <button mat-icon-button class="right_buttons" [ngbPopover]="popContent3"  placement="bottom"><i class="material-icons">notification_important</i></button>
        <button mat-icon-button class="right_buttons"  [matMenuTriggerFor]="account"><i class="material-icons">account_circle</i></button>
        <!-- <button mat-icon-button class="right_buttons" (click)="showRightMenu1()"><i class="material-icons">reorder</i></button> -->
    </ul>
   </div>
   </mat-toolbar-row>
</mat-toolbar>
<ng-template #popContent1>Hello,
  <a href="/">Hwello</a>
</ng-template>

<ng-template #popTitle2>Box <b>Header!!</b></ng-template>
<ng-template #popContent3>Hello,</ng-template>
<ng-template #popTitle3>Box <b>Header!!</b></ng-template>
<ng-template #popTitle4>Box <b>Header!!</b></ng-template>
<ng-template #popTitle5>Box <b>Header!!</b></ng-template>
<!-- For Account -->

<mat-menu #account>
  <button class="menulist" mat-menu-item [matMenuTriggerFor]="accountsetting">Account Setting</button>
  <button class="menulist" mat-menu-item routerLink="/login">Logout</button>
  </mat-menu>

  <mat-menu #accountsetting>
    <button class="menulist" mat-menu-item>Edit Details</button>
    <button class="menulist" mat-menu-item>Update Profile </button>
  </mat-menu>

  