mat-toolbar-row{
    margin-top: 8px;
    min-width: 300px;
}
 button:hover{
background-color: rgb(4, 4, 10);
  }
  .right_buttons{
      float: right !important;
  }
.search{
    background-color: white;
    width:350px;
    margin-left: 300px;
}

#btn{
    margin-left: -35px;
    background-color: white;
    border: white;
    cursor: pointer;
    height: 35px;
    
}

.menulist:hover{
    background-color: blue;
    color: white;
    font-size: 15px;
}