mat-toolbar-row{
    margin-top: 8px;
    min-width: 300px;
}
 button:hover{
background-color: rgb(55, 55, 56);
  }
  .right_buttons{
      float: right !important;
  }
.form-group{
    background-color: white;
    margin-top: 8px;
}

.rightbtns{
margin-top: 10px;
}

.menulist:hover{
    background-color: blue;
    color: white;
    font-size: 15px;
}

@media screen and (max-width:600px){
	.home{
	display:none;
	}
}
