<div class="container">
    <!-- <button mat-button class="btn btn-primary addbatch" routerLink="/addbatch"> Add Batch</button>
<br><br>
     -->
<mat-card>
  <mat-card-title>Batch</mat-card-title>
    <mat-card-content>
    <form [formGroup]="batchForm">
   
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Batch Id</span>
      </div>
      <input type="text" class="form-control" [attr.readonly]= "isReadOnly"  formControlName="id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Course Id</span>
      </div>
      <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="courseid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
         <span class="input-group-text" >Course Name</span>
        </div>
        <select class="form-control" formControlName="coursename" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" (click)="dropdown()">
          <option>Select</option> 
          <option  *ngFor="let dropdown of dropDownData;">{{dropdown.coursename}}</option>
        </select>
       
      </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Batch Name</span>
      </div>
      <input type="text" class="form-control" formControlName="batchname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Batch Code</span>
      </div>
        <input type="text" class="form-control" formControlName="batchcode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
     <div class="input-group-prepend">
     <span class="input-group-text" >Batch Description</span>
    </div>
    <input type="text" class="form-control" formControlName="batchdescription" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
     <div>
      <span class="input-group-text" >Is Active</span>
     </div>
      <input type="checkbox"  class="chkbox"  formControlName="isactive">
    </div>
    <div>
        <button mat-button class="btn btn-danger " *ngIf="! id" type="reset">Reset</button>
        <button mat-button class="btn btn-primary btns " *ngIf="! id" (click)="addBatch()" >Add</button>
        <button mat-button class="btn btn-primary " *ngIf="id" (click)="updaeData()">Update </button>
        <button mat-button class="btn btn-danger btns" *ngIf="id" (click)="deleteData()">Delete</button>
    </div>
</form>
</mat-card-content>

</mat-card>
<br>
<mat-card>
  <mat-card-content>
  <form [formGroup]="searchData">
    <div class="input-group mb-3">
      <input type="text" class="form-control search" placeholder="search here throgh Batch Name..." formControlName="search"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <button class="btn btnsearch btn-primary" (click)="retriveCourse()">search</button>
    </div>
  </form>
</mat-card-content>
</mat-card>



<br>
<br>
    <mat-card-title>Batch Table</mat-card-title>
  <table class="table table-striped" *ngIf="searchdata" >
    <thead>
      <tr>
        <th scope="col">Batch Id</th>
        <th scope="col">Course Id</th>
        <th scope="col"> Course Name</th>
        <th scope="col">Batch Name</th>
        <th scope="col">Batch Code</th>
        <th scope="col">Batch Description</th>
        <th scope="col">Is Active</th>
      </tr>
  </thead>
  <tbody>
   <tr *ngFor="let table of searchdata"> 
        <th scope="row">{{table.id}}</th>
        <td>{{table.courseid}}</td>
        <td>{{table.coursename}}</td>
        <td>{{table.batchname}}</td>
        <td>{{table.batchcode}}</td>
        <td>{{table.batchdescription}}</td>
        <td>{{table.isactive}}</td>
        <td>
        <button mat-button class="btn btn-primary " (click)="editData(table.id)">Edit</button>
        </td>
      </tr>
  </tbody>
  </table>


</div>
