.container {
    padding: 60px;
    width: 80%;
  }
  
  mat-form-field>input{
      width: 100%;
  }
  .btns{
      margin-left: 10px;
  }
  mat-card-title{
      text-align: center;
  }

  .addbatch{
      float: right !important;
       }
.chkbox{
  height: 38px;
  width: 38px;
  margin-left: 10px;
}
/* .editbtns{
    margin-top: 5px;
    width: 80px;
    height: 40px;
    margin-left: 10px;
  } */

  .search{
    width: 50%;
  }
  .btnsearch{
      width: 150px;
      border:1px solid black;
  }
  /* thead{
    background-color: rgb(218, 240, 167);
    color: rgb(29, 23, 23);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width: 100%;
  }
  tbody{
    background-color: rgb(245, 92, 92);
  } */