<div class="container">
    <!-- <button mat-button class="btn btn-primary addbatch" routerLink="/addbatch"> Add Batch</button>
<br><br>
     -->
<mat-card>
  <mat-card-title>Batch Management</mat-card-title>
    <mat-card-content>
    <form [formGroup]="batchForm">
   
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Batch Id</span>
      </div>
      <input type="text" class="form-control" [attr.readonly]= "isReadOnly"  formControlName="id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Course Id</span>
      </div>
      <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="courseid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
         <span class="input-group-text" >Course Name</span>
        </div>
        <select class="form-control" formControlName="coursename" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" (click)="dropdown()">
            <option  *ngFor="let dropdown of dropDownData;">{{dropdown.coursename}}</option>
        </select>
       
      </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Batch Name</span>
      </div>
      <input type="text" class="form-control" formControlName="batchname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
       <span class="input-group-text" >Batch Code</span>
      </div>
        <input type="text" class="form-control" formControlName="batchcode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
     <div class="input-group-prepend">
     <span class="input-group-text" >Batch Description</span>
    </div>
    <input type="text" class="form-control" formControlName="batchdescription" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
     <div>
      <span class="input-group-text" >Is Active</span>
     </div>
      <input type="checkbox"  class="chkbox"  formControlName="isactive">
    </div>
    <div>
      <button mat-button class="btn btn-primary " (click)="addBatch()" >Add</button>
        <button mat-button class="btn btn-primary btns" (click)="updaeData()">Update </button>
        <button mat-button class="btn btn-danger btns" (click)="deleteData()">Delete</button>
    </div>
</form>
</mat-card-content>

</mat-card>
<br>
<mat-card>
  <mat-card-content>
  <form [formGroup]="searchData">
    <div class="input-group mb-3">
      <input type="text" class="form-control search" placeholder="search here throgh Batch Name..." formControlName="search"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <button class="btn btnsearch" (click)="retriveCourse()">search</button>
    </div>
  </form>
</mat-card-content>
</mat-card>
<!-- 
<br>
<br>
<mat-card>
    <mat-card-title>Search Table</mat-card-title>
  <table class="table table-striped" *ngIf="searchdata">
    <thead >
      <tr>
          <th>Batch Id</th>
        <th>Course Id</th>
        <th>Batch Name</th>
        <th>Batch Code</th>
        <th>Is Active</th>
      </tr>
  </thead>
  <tbody>
  <tr >
          <td>{{searchdata.id}}</td>
        <td>{{searchdata.courseid}}</td>
        <td>{{searchdata.batchname}}</td>
        <td>{{searchdata.batchcode}}</td>
        <td>{{searchdata.isactive}}</td>
        <td>{{searchdata.coursename}}</td>
        <td>{{searchdata.batchdescription}}</td>
        <button mat-button class="btn btn-primary editbtns"  (click)="editData(searchdata.batchname)">Edit</button>
      </tr>
  </tbody>
  </table>
</mat-card> -->

<br>
<br>
<mat-card>
    <mat-card-title>Batch Table</mat-card-title>
  <table class="table table-striped" *ngIf="searchdata" >
    <thead>
      <tr>
        <th>Batch Id</th>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Batch Name</th>
        <th>Batch Code</th>
        <th>Batch Description</th>
        <th>Is Active</th>
      </tr>
  </thead>
  <tbody>
  <!-- <tr>
    <td>{{searchdata.id}}</td>
    <td>{{searchdata.courseid}}</td>
    <td>{{searchdata.batchname}}</td>
    <td>{{searchdata.batchcode}}</td>
    <td>{{searchdata.isactive}}</td>
    <td>{{searchdata.coursename}}</td>
    <td>{{searchdata.batchdescription}}</td>
    <button mat-button class="btn btn-primary editbtns"  (click)="editData(searchdata.batchname)">Edit</button>
      </tr>
     -->
  <tr *ngFor="let table of searchdata"> 
        <td>{{table.id}}</td>
        <td>{{table.courseid}}</td>
        <td>{{table.coursename}}</td>
        <td>{{table.batchname}}</td>
        <td>{{table.batchcode}}</td>
        <td>{{table.batchdescription}}</td>
        <td>{{table.isactive}}</td>
        
        <button mat-button class="btn btn-primary editbtns"  (click)="editData(table.batchname)">Edit</button>
      </tr>

  </tbody>
  </table>
</mat-card>

</div>
