<div class="container">
    <mat-card>
      <mat-card-title>Batch Management</mat-card-title>
      
      <mat-card-content>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" id="inputGroup-sizing-default">Batch Id</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" id="inputGroup-sizing-default">Course Id</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" id="inputGroup-sizing-default">Batch Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" id="inputGroup-sizing-default">Batch Code</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" id="inputGroup-sizing-default">Is Active</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
<div>
    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-danger">Reset</button>
</div>
</mat-card-content>
</mat-card>
</div>
