.container {
    padding: 60px;
    width: 80%;
  }
  
  mat-form-field>input{
      width: 100%;
  }
  .btn-danger{
      margin-left: 15px;
  }
  mat-card-title{
      text-align: center;
  }
  .chkbox{
    background-color: rgb(155, 18, 18);
    height: 38px;
    width: 38px;
    margin-left: 10px;
}