<div class="container">
    <mat-card>
      <mat-card-title>Subject Management</mat-card-title>
        <mat-card-content>
        <form [formGroup]="subjectForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Subject Id</span>
          </div>
          <input type="text" class="form-control" formControlName="subjectid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">School Id</span>
          </div>
          <input type="text" class="form-control" formControlName="schoolid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Subject Name</span>
          </div>
          <input type="text" class="form-control" formControlName="subjectname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Subject Code</span>
          </div>
          <input type="text" class="form-control" formControlName="subjectcode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Subject Description</span>
          </div>
          <input type="text" class="form-control" formControlName="subjectdescription" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div>
             <span class="input-group-text" id="inputGroup-sizing-default">Is Active</span>
            </div>
            <input type="checkbox"  class="chkbox" formControlName="isactive">
          </div>
        <div>
        <button mat-button class="btn btn-primary" (click)="addSubject()" >Add </button>
       
    </div>
  </form>
</mat-card-content>
</mat-card>
</div>
