.container {
    padding: 60px;
    width: 80%;
  }
  h3{
      text-align: center;
  }
  mat-form-field>input{
      width: 100%;
  }
  .btns{
    margin-left: 10px;
    background-color: blue;
    color: white;
  }
  .title{
    text-align: center;
    
  }
  .chkbox{
    height: 38px;
    width: 38px;
    margin-left: 10px;
  }

  .search{
    width: 50%;
  }
  .btnsearch{
      width: 150px;
      border:1px solid black;
  }
  label{
      text-align: center;
      font-size: 15px;
  }
  .day{
      margin-top: -15px;
  }

  .daychk{
    height: 25px;
    width: 25px;
    margin-left: 10px;
  
  }

  .btn-outline-primary{
    width: 100%;
  }
  ejs-timepicker{
    width: 80%;
    float: right;
  }
  .starttime{
    margin-top: 38px;
  }