
<div class="container">
   <mat-card>
      <mat-card-title>Course</mat-card-title>
       <mat-card-content>
        <form [formGroup]="courseForm">
        <div class="input-group mb-3">
          <div>
           <span class="input-group-text">Course Id</span>
          </div>
          <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div>
           <span class="input-group-text">School Id</span>
          </div>
          <input type="text" class="form-control" [attr.readonly]= "isReadOnly" formControlName="schoolid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div>
           <span class="input-group-text" id="inputGroup-sizing-default">Course Name</span>
          </div>
          <input type="text" class="form-control" formControlName="coursename" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div>
           <span class="input-group-text" id="inputGroup-sizing-default">Course Code</span>
          </div>
          <input type="text" class="form-control" formControlName="coursecode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div>
           <span class="input-group-text" id="inputGroup-sizing-default">Is Active</span>
          </div>
          <input type="checkbox"  class="chkbox" formControlName="isactive">
        </div>
        <div>
            <button mat-button class="btn btn-danger " *ngIf="!id" type="reset">Reset</button>
            <button mat-button class="btn btn-primary btns" *ngIf="!id"   (click)="addCourse()">Add</button>
            <button mat-button class="btn btn-primary " *ngIf="id" (click)="updateCourse()">Update</button>
            <button mat-button class="btn btn-danger btns" *ngIf="id" (click)="deleteCourse()">Delete</button>
        </div>
</form>
</mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
  <form [formGroup]="searchData" #searchForm="ngForm">
    <div class="input-group mb-3">
      <input type="text" class="form-control search " placeholder="search here throgh Course name..." formControlName="search"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
      <button class="btn btn-primary btnsearch" (click)="retriveCourse()">search</button>
    </div>
  </form>
</mat-card-content>
</mat-card>
<br>
<br>
  <table class="table table-striped" *ngIf="tableData">
    <thead>
      <tr>
        <th scope="col">Course Id</th>
        <th scope="col">School Id</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Code</th>
        <th scope="col">Is Active</th>
      </tr>
  </thead>
  <tbody>
  <tr *ngFor="let table of tableData">
        <th scope="row">{{table.id}}</th>
        <td>{{table.schoolid}}</td>
        <td>{{table.coursename}}</td>
        <td>{{table.coursecode}}</td>
        <td>{{table.isactive}}</td>
        <td>
        <button mat-button class="btn btn-primary" id="edit"  (click)="editData(table.id)">Edit</button>
        </td>
      </tr>
  </tbody>
  </table>
</div>
