.main{
    height: 100%;
    width: 100%;
    font-size: 13px;
    background: #d3d6d8;
}
.login{
    float: right !important;
    padding-right: 75px;
}
.loginbutton{
   
     border:1px black solid;
    }
.bottuns{
    margin-top: 30px;
    float: right !important;
    padding-bottom: 10px;
}
.col-md-6{
    padding: 4px;
    margin-top: 100px;
}
/* for login */
.loginheader{
    background-color: rgb(15, 6, 146);
    color: rgb(24, 22, 22);
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 20px;
    color: white;;
} 
.well{
    align-content: center;
    width:100%;
    height: 350px;
    background:white;
    border: 1px rgb(128, 127, 127) solid;
   }
  .firstInput{
    margin-top: 30px;
  }
.mat_input{
    min-width: 0px;
    max-width: 500px;
    width: 100%;
}
.otherbuttons{
    float: right;
    margin-right: 40px;
}
.form{
    text-align: center;
}
.loginbtn:hover{
    background-color: rgb(19, 19, 26);
    color: white;
}