<div class="container-fluid">
<ngb-tabset type="tabs" class="list-inline">
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-list-ul"></i></ng-template>
      <ng-template ngbTabContent>
       <ul>
           <li>
                <span class="listDay">List Day</span>
                <span class="listContainer">
                            <span class="listImageContainer">
                                <img src="assets\msgImage\msgImage1.png" alt="" class="listImage">
                            </span>
                            <span class="listDetailContainer">
                            List Heading
                                <span class="timeStatus">
                                    <span> <i class="fa fa-calendar"></i>time</span>
                                        <span class="status"><i class="fa fa-map-marker"></i>status</span>
                                </span>
                            </span>           
                </span>
            </li>
        </ul>   
      </ng-template>
    </ngb-tab>  
    <ngb-tab>
        <ng-template ngbTabTitle><i class="fa fa-comment"></i></ng-template>
        <ng-template ngbTabContent>
          <ul>
              <li class="msgList">
                <img src="assets\msgImage\msgImage1.png" alt="" class="msgImage">
                <span class="msgHeadingTime">
                    <label for="name" class="name">{{name}}</label>
                    <label for="time" class="time">{{time}}</label><br>
                </span>
                <div class="msgHeading">{{msgHeading}}</div>
                <div class="msgText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque provident ipsa voluptas nihil placeat quam veritatis incidunt, eum doloribus sunt, totam, quos quisquam omnis vitae harum modi? Est, at assumenda?</div>
              </li>
         </ul>  
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle><i class="fa fa-cog"></i></ng-template>
        <ng-template ngbTabContent>
            <ul>
                <li>
                    <div class="settingList">
                        Setting
                        <ul>
                            <li>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic odit doloribus, sed alias laudantium perferendis corrupti ducimus officiis dolor aliquam, veritatis iste! Earum est porro, dolore facere laboriosam sit!</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>