<div class="container-fluid">
<ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Quick Links</ng-template>
      <ng-template ngbTabContent>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis voluptatem accusamus excepturi natus quae doloremque iure commodi quo quos! Officia ex aspernatur quod hic reprehenderit repudiandae ratione fugit a in!</p>
      </ng-template>
    </ngb-tab>  
    <ngb-tab>
        <ng-template ngbTabTitle>Academics</ng-template>
        <ng-template ngbTabContent>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, exercitationem dolorem. Voluptate maxime deserunt quisquam, soluta tenetur odit harum sed, minima repellat necessitatibus illum perferendis natus cumque vitae laborum dolores.</p>
          </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Colaboration</ng-template>
        <ng-template ngbTabContent>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nam ut dolores, similique ipsum porro aliquid expedita ex deleniti accusamus ea veniam pariatur ipsam obcaecati voluptates sed repellendus odio culpa!</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
            <ng-template ngbTabTitle>Data and Reports</ng-template>
            <ng-template ngbTabContent>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nam ut dolores, similique ipsum porro aliquid expedita ex deleniti accusamus ea veniam pariatur ipsam obcaecati voluptates sed repellendus odio culpa!</p>
            </ng-template>
        </ngb-tab>
   <ngb-tab>
    <ng-template ngbTabTitle>Addministration</ng-template>
    <ng-template ngbTabContent>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nam ut dolores, similique ipsum porro aliquid expedita ex deleniti accusamus ea veniam pariatur ipsam obcaecati voluptates sed repellendus odio culpa!</p>
       </ng-template>
    </ngb-tab>
    <ngb-tab>
            <ng-template ngbTabTitle>Apps</ng-template>
            <ng-template ngbTabContent>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nam ut dolores, similique ipsum porro aliquid expedita ex deleniti accusamus ea veniam pariatur ipsam obcaecati voluptates sed repellendus odio culpa!</p>
            </ng-template>
        </ngb-tab>
</ngb-tabset>
</div>