<div class="container">
   
    <mat-card>
      <mat-card-title>Batch Management</mat-card-title>
      
      <mat-card-content>
        <form [formGroup]="batchForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Batch Id</span>
          </div>
          <input type="text" class="form-control" formControlName="batchid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Course Id</span>
          </div>
          <input type="text" class="form-control" formControlName="courseid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Batch Name</span>
          </div>
          <input type="text" class="form-control" formControlName="batchname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Batch Code</span>
          </div>
          <input type="text" class="form-control" formControlName="batchcode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
         <div>
          <span class="input-group-text" >Is Active</span>
         </div>
          <input type="checkbox"  class="chkbox"  formControlName="isactive">
        </div>
<div>
    <button mat-button class="btn btn-primary" (click)="addBatch()" >Add</button>
  </div>
</form>
</mat-card-content>
</mat-card>
</div>
