
<form class="well">
    <div class="form-group row">
      <label for="serialNumber" class="col-sm-6 col-form-label">serialNumber</label>
      <label for="empCode" class="col-sm-6 col-form-label">Employee Code</label>  
    </div>
    <div class="form-group row">
      <label for="Sponsorship" class="col-sm-2 col-form-label">Sponsorship</label>
      <div class="col-sm-4">
          <mat-form-field class="matform">
              <input type="text" matInput id="sponsorship">
          </mat-form-field>
      </div>
      <label for="empName" class="col-sm-2 col-form-label">Emp Name</label>
      <div class="col-sm-4">
          <mat-form-field class="matform">
              <input type="text" matInput id="empName">
          </mat-form-field>
      </div>
    </div>
    <div class="form-group row">
        <label for="Nationality" class="col-sm-2 col-form-label">Nationality</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" matInput id="nationality">
            </mat-form-field>
        </div>
        <label for="dob" class="col-sm-2 col-form-label">Date of birth</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" matInput id="dob">
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="sex" class="col-sm-2 col-form-label">Sex</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" matInput id="sex">
            </mat-form-field>
        </div>
        <label for="age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" matInput id="age">
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" matInput id="email">
            </mat-form-field>
        </div>
        
    </div>
    <div class="form-group row">
        <label for="dateOfEntry" class="col-sm-2 col-form-label">Date of Entry</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfEntry" matInput [matDatepicker]="dateOfEntry">
                <mat-datepicker-toggle matSuffix [for]="dateOfEntry"></mat-datepicker-toggle>
                <mat-datepicker #dateOfEntry></mat-datepicker>
            </mat-form-field>        
        </div>
        <label for="dateOfJoining" class="col-sm-2 col-form-label">Date of Joining</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfJoining" matInput [matDatepicker]="dateOfJoining">
                <mat-datepicker-toggle matSuffix [for]="dateOfJoining"></mat-datepicker-toggle>
                <mat-datepicker #dateOfJoining></mat-datepicker>
            </mat-form-field>  
        </div>
    </div>
    <div class="form-group row">
        <label for="passportNumber" class="col-sm-2 col-form-label">Passport Number</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" matInput id="passportNumber">
            </mat-form-field>
        </div>
        <label for="telephoneNumber" class="col-sm-2 col-form-label">Telephone Number</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="tel" matInput id="telephoneNumber">
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfIssuedPassport" class="col-sm-2 col-form-label">Passport Issued Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfIssuedPassport" matInput [matDatepicker]="dateOfIssuedPassport">
                <mat-datepicker-toggle matSuffix [for]="dateOfIssuedPassport"></mat-datepicker-toggle>
                <mat-datepicker #dateOfIssuedPassport></mat-datepicker>
            </mat-form-field>
        </div>
        <label for="dateOfExpiryPassport" class="col-sm-2 col-form-label">Passport Expiry Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfExpiryPassport" matInput [matDatepicker]="dateOfExpiryPassport">
                <mat-datepicker-toggle matSuffix [for]="dateOfExpiryPassport"></mat-datepicker-toggle>
                <mat-datepicker #dateOfExpiryPassport></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfIssuedVisa" class="col-sm-2 col-form-label">Visa Issued Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfIssuedVisa" matInput [matDatepicker]="dateOfIssuedVisa">
                <mat-datepicker-toggle matSuffix [for]="dateOfIssuedVisa"></mat-datepicker-toggle>
                <mat-datepicker #dateOfIssuedVisa></mat-datepicker>
            </mat-form-field>
        </div>
        <label for="dateOfExpiryVisa" class="col-sm-2 col-form-label">Visa Expiry Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfExpiryVisa" matInput [matDatepicker]="dateOfExpiryVisa">
                <mat-datepicker-toggle matSuffix [for]="dateOfExpiryVisa"></mat-datepicker-toggle>
                <mat-datepicker #dateOfExpiryVisa></mat-datepicker>
            </mat-form-field>
        </div>
    </div>    
    <div class="form-group row">
        <label for="dateOfIssuedCordL" class="col-sm-2 col-form-label">Cord / L Issued Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfIssuedCordL" matInput [matDatepicker]="dateOfIssuedCordL">
                <mat-datepicker-toggle matSuffix [for]="dateOfIssuedCordL"></mat-datepicker-toggle>
                <mat-datepicker #dateOfIssuedCordL></mat-datepicker>
            </mat-form-field>
        </div>
        <label for="dateOfExpiryCordL" class="col-sm-2 col-form-label">Cord / L Expiry Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfExpiryCordL" matInput [matDatepicker]="dateOfExpiryCordL">
                <mat-datepicker-toggle matSuffix [for]="dateOfExpiryCordL"></mat-datepicker-toggle>
                <mat-datepicker #dateOfExpiryCordL></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfIssuedIdCard" class="col-sm-2 col-form-label">ID Card Issued Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
                <input type="text" id="dateOfIssuedIdCard" matInput [matDatepicker]="dateOfIssuedIdCard">
                <mat-datepicker-toggle matSuffix [for]="dateOfIssuedIdCard"></mat-datepicker-toggle>
                <mat-datepicker #dateOfIssuedIdCard></mat-datepicker>
            </mat-form-field>
        </div>
        <label for="dateOfExpiryIdCard" class="col-sm-2 col-form-label">ID Card Expiry Date</label>
        <div class="col-sm-4">
                <mat-form-field class="matform">
                  <input type="text" id="dateOfExpiryIdCard" matInput [matDatepicker]="dateOfExpiryIdCard">
                  <mat-datepicker-toggle matSuffix [for]="dateOfExpiryIdCard"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfExpiryIdCard></mat-datepicker>
                </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfIssuedInsurance" class="col-sm-2 col-form-label">Insurance Issued Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
              <input type="text" id="dateOfIssuedInsurance" matInput [matDatepicker]="dateOfIssuedInsurance">
              <mat-datepicker-toggle matSuffix [for]="dateOfIssuedInsurance"></mat-datepicker-toggle>
              <mat-datepicker #dateOfIssuedInsurance></mat-datepicker>
            </mat-form-field>
        </div>
        <label for="dateOfExpiryInsurance" class="col-sm-2 col-form-label">Insurance Expiry Date</label>
        <div class="col-sm-4">
            <mat-form-field class="matform">
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="radioButtonLabel" class="col-sm-2 col-form-label radioButtonLabel">Department</label>
      <div class="col-sm-10">
            <section class="radioGroup">
                <mat-radio-group>
                  <mat-radio-button class="radioButton" value="after">TAILORING</mat-radio-button>
                  <mat-radio-button class="radioButton" value="before">TEXTILES</mat-radio-button>
                  <mat-radio-button class="radioButton" value="">READYMADE GARMENT</mat-radio-button>

                </mat-radio-group>
            </section>
      </div>       
   </div>
   <div class="form-group row">
      <label for="dateOfIssuedInsurance" class="col-sm-2 col-form-label">Category</label>

      <div class="col-sm-10">
          <mat-form-field>
              <select matNativeControl required>
                <option value="volvo">CONTRACT</option>
                <option value="saab">PERMANENT</option>
              </select>
          </mat-form-field>
      </div>       
   </div>
   <div class="form-group row">
      <div class="col-sm-2 offset-sm-2">
        <button class="btn btn-primary">Save</button>
      </div>
  </div>    
</form>
