<div class="container">
  <!-- <button mat-button class="btn btn-primary addsubject" routerLink="/addsubject"> Add Subject</button>
<br><br> -->
<div>
    <mat-card>
      <mat-card-title>Subject</mat-card-title>
      <mat-card-content>
        <form [formGroup]="subjectForm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                 <span class="input-group-text">Subject Id</span>
                </div>
                <input type="text" class="form-control" formControlName="id" [attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
        <!-- <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Subject Id</span>
          </div>
          <input type="text" class="form-control" formControlName="subjectid" [attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div> -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >School Id</span>
          </div>
          <input type="text" class="form-control" formControlName="schoolid" [attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
             <span class="input-group-text" >Subject Code</span>
            </div>
            <input type="text" class="form-control"  formControlName="subjectcode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Subject Name</span>
          </div>
          <input type="text" class="form-control" formControlName="subjectname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
       
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" >Subject  Description</span>
          </div>
          <input type="text" class="form-control" formControlName="subjectdescription" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
         <div>
          <span class="input-group-text" >Is Active</span>
        </div>
           <input type="checkbox"  class="chkbox" formControlName="isactive">
        </div>
    <div>
        <button mat-button class="btn btn-danger " *ngIf="!id" type="reset">Reset</button>
        <button mat-button class="btn btn-primary btns" *ngIf="!id" (click)="addSubject()">Add</button>
        <button mat-button class="btn btn-primary " *ngIf="id" (click)="updateSubject()">Update</button>
        <button mat-button class="btn btn-danger btns" *ngIf="id" (click)="deleteSubject()">Delete</button>
    </div>
  </form>
</mat-card-content>
</mat-card>
</div>
<br>
<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
  <form [formGroup]="searchSubject">
    <div class="input-group mb-3">
      <input type="text" class="form-control search" placeholder="search here throgh Id..." formControlName="search"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <button class="btn btnsearch btn-primary" (click)="retriveSubject()">search</button>
    </div>
  </form>
</mat-card-content>
</mat-card>
<br>

<br>
  <table class="table table-striped" *ngIf="tableData">
    <thead>
      <tr>
        <!-- <th>Id</th> -->
        <th scope="col">Subject Id</th>
        <th scope="col">School Id</th>
        <th scope="col">Subject Name</th>
        <th scope="col">Subject Code</th>
        <th scope="col">Subject Description</th>
        <th scope="col">Is Active</th>
      </tr>
  </thead>
  <tbody>
  <tr *ngFor="let table of tableData">
       
       <th scope="row">{{table.id}}</th>
        <!-- <td>{{table.subjectid}}</td> -->
        <td>{{table.schoolid}}</td>
        <td>{{table.subjectname}}</td>
        <td>{{table.subjectcode}}</td>
        <td>{{table.subjectdescription}}</td>
        <td>{{table.isactive}}</td>
        <td>
        <button mat-button class="btn btn-primary"  (click)="editData(table.id)">Edit</button>
        </td>
      </tr>
  </tbody>
  </table>
</div>
