.container {
    padding: 60px;
    width: 80%;
  }
  
  mat-form-field>input{
      width: 100%;
  }
  .btn-danger{
      margin-left: 15px;
  }
  mat-card-title{
      text-align: center;
  }

  .addsubject{
      float: right !important;
  }

  .chkbox{
    height: 38px;
    width: 38px;
    margin-left: 10px;
  }
 .search{
    width: 50%;
  }

.btnsearch{
  width: 250px;
  border:1px solid black;
 }

 .editbtns{
  margin-top: 5px;
  width: 80px;
  height: 40px;
  margin-left: 10px;
}
.btns{
  margin-left: 10px;
}