<!-- <div [ngClass]="status ? 'nav-side-menu' : 'nav-side-min-menu'">
        <ul>
            <li>
                <div class="menuH">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                   <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide1()">Course Management </span>
                carrat start
                <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                    <div *ngIf="t[i]; else another1"  id="another1">
                        <i class="arrow bottom mio"></i>
                    </div>
                    <ng-template #another1>
                        <i class="arrow left1 mio"></i>
                    </ng-template>
                </span>    
                carrat end                      
                </div>
                
                <div class="menuH">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                       <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide2()">Subject Management </span>
                    carrat start
                    <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                        <div *ngIf="t[i]; else another1"  id="another1">
                            <i class="arrow bottom mio"></i>
                        </div>
                        <ng-template #another1>
                            <i class="arrow left1 mio"></i>
                        </ng-template>
                    </span>    
                    carrat end                      
                    </div>
                    <div class="menuH">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                       <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide3()">Batch  Management </span>
                    carrat start
                    <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                        <div *ngIf="t[i]; else another1"  id="another1">
                            <i class="arrow bottom mio"></i>
                        </div>
                        <ng-template #another1>
                            <i class="arrow left1 mio"></i>
                        </ng-template>
                    </span>    
                    carrat end                      
                    </div>
                    <div class="menuH">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                       <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide4()">Student Management </span>
                    carrat start
                    <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                        <div *ngIf="t[i]; else another1"  id="another1">
                            <i class="arrow bottom mio"></i>
                        </div>
                        <ng-template #another1>
                            <i class="arrow left1 mio"></i>
                        </ng-template>
                    </span>    
                    carrat end                      
                    </div>
                    <div class="menuH">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                           <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide5()">Chapter Management </span>
                        carrat start
                        <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                            <div *ngIf="t[i]; else another1"  id="another1">
                                <i class="arrow bottom mio"></i>
                            </div>
                            <ng-template #another1>
                                <i class="arrow left1 mio"></i>
                            </ng-template>
                        </span>    
                        carrat end                      
                        </div>
                
                <div class="submenu" *ngIf="i==2">        
                    <ul *ngFor="let subMenu of subMenus3; let k = index">
                        <li (click)="showChild(i, k)">{{subMenu}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    Toggle Button of SideMenu
        <div id="toggler1" (click)="showHide()"> 
            <div *ngIf="this.status; else toggle_part">
                <i class="fa fa-angle-left"></i>
            </div>
            <ng-template #toggle_part>
                <i class="fa fa-angle-right"></i>
            </ng-template>
        </div>
</div>
       
   -->
<div class="sidenav">
     
   <mat-nav-list>
        <a mat-list-item routerLink="/course"  class="btns" (click)="onSidenavClose()">
        <span class="nav-caption">Course </span>
       </a> 
       <a mat-list-item routerLink="/subject" class="btns" (click)="onSidenavClose()">
        <span class="nav-caption">Subject</span>
       </a>
       <a mat-list-item routerLink="/batch" class="btns" (click)="onSidenavClose()">
            <span class="nav-caption">Batch  </span>
       </a>
       <a mat-list-item routerLink="/student" class="btns" (click)="onSidenavClose()" >
           <span class="nav-caption">Student </span>
      </a>
      <a mat-list-item routerLink="/chapter" class="btns"  (click)="onSidenavClose()">
        <span class="nav-caption">Chapter  </span>
      </a> 
      <a mat-list-item routerLink="/subjectcategory" class="btns"  (click)="onSidenavClose()">
        <span class="nav-caption">Subject Category  </span>
      </a> 
      <a mat-list-item routerLink="/users" class="btns"  (click)="onSidenavClose()">
        <span class="nav-caption">Users </span>
      </a> 
      <a mat-list-item routerLink="/batchsubjectmapping" class="btns"  (click)="onSidenavClose()">
        <span class="nav-caption">Batch Subject Mapping </span>
      </a> 
      <a mat-list-item routerLink="/roles" class="btns"  (click)="onSidenavClose()">
        <span class="nav-caption">Roles </span>
      </a> 
      <a mat-list-item routerLink="/timetable" class="btns"  (click)="onSidenavClose()">
        <span class="nav-caption">Time Table </span>
      </a> 
      <a mat-list-item routerLink="/login" class="btns"  (click)="onSidenavClose()">
        <span class="nav-caption">Logout </span>
      </a> 
    </mat-nav-list>
</div>