<div [ngClass]="status ? 'nav-side-menu' : 'nav-side-min-menu'">
        <ul>
            <li>
                <div class="menuH">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                   <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide1()">Course Management </span>
                <!-- carrat start -->
                <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                    <div *ngIf="t[i]; else another1"  id="another1">
                        <i class="arrow bottom mio"></i>
                    </div>
                    <ng-template #another1>
                        <i class="arrow left1 mio"></i>
                    </ng-template>
                </span>    
                <!--carrat end   -->                    
                </div>
                
                <div class="menuH">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                       <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide2()">Subject Management </span>
                    <!-- carrat start -->
                    <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                        <div *ngIf="t[i]; else another1"  id="another1">
                            <i class="arrow bottom mio"></i>
                        </div>
                        <ng-template #another1>
                            <i class="arrow left1 mio"></i>
                        </ng-template>
                    </span>    
                    <!--carrat end   -->                    
                    </div>
                    <div class="menuH">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                       <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide3()">Batch  Management </span>
                    <!-- carrat start -->
                    <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                        <div *ngIf="t[i]; else another1"  id="another1">
                            <i class="arrow bottom mio"></i>
                        </div>
                        <ng-template #another1>
                            <i class="arrow left1 mio"></i>
                        </ng-template>
                    </span>    
                    <!--carrat end   -->                    
                    </div>
                    <div class="menuH">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                       <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide4()">Student Management </span>
                    <!-- carrat start -->
                    <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                        <div *ngIf="t[i]; else another1"  id="another1">
                            <i class="arrow bottom mio"></i>
                        </div>
                        <ng-template #another1>
                            <i class="arrow left1 mio"></i>
                        </ng-template>
                    </span>    
                    <!--carrat end   -->                    
                    </div>
                    <div class="menuH">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                           <span [ngClass]="{'menuName':!this.leftMenuToggler}" (click)="showHide5()">Chapter Management </span>
                        <!-- carrat start -->
                        <span [ngClass]="{'carrat1':!this.dash.leftMenuToggler}">
                            <div *ngIf="t[i]; else another1"  id="another1">
                                <i class="arrow bottom mio"></i>
                            </div>
                            <ng-template #another1>
                                <i class="arrow left1 mio"></i>
                            </ng-template>
                        </span>    
                        <!--carrat end   -->                    
                        </div>
                
                <div class="submenu" *ngIf="i==2">        
                    <ul *ngFor="let subMenu of subMenus3; let k = index">
                        <li (click)="showChild(i, k)">{{subMenu}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    <!-- Toggle Button of SideMenu -->
        <div id="toggler1" (click)="showHide()"> 
            <div *ngIf="this.status; else toggle_part">
                <i class="fa fa-angle-left"></i>
            </div>
            <ng-template #toggle_part>
                <i class="fa fa-angle-right"></i>
            </ng-template>
        </div>
</div>
    
      
    
  