<div class="container">
    <!-- <button mat-button class="btn btn-primary addbatch" routerLink="/addstudent"> Add Student</button>
    <br><br> -->
    <mat-card>
      <mat-card-title>Student</mat-card-title>
      <form [formGroup]="studentForm">
      <mat-card-content>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
               <span class="input-group-text">Student Id</span>
              </div>
              <input type="text" class="form-control" formControlName="id" [attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        <!-- <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text"></span>
          </div>
          <input type="text" class="form-control" formControlName="studentid" [attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div> -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">School Id</span>
          </div>
          <input type="text" class="form-control" formControlName="schoolid" [attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Course Id</span>
          </div>
          <input type="text" class="form-control" formControlName="courseid"[attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Batch Id</span>
          </div>
          <input type="text" class="form-control" formControlName="batchid" [attr.readonly]= "isReadOnly" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
             <span class="input-group-text">First Name</span>
            </div>
            <input type="text" class="form-control" formControlName="firstname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
               <span class="input-group-text" >Middle Name</span>
              </div>
              <input type="text" class="form-control" formControlName="middlename" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Last Name</span>
          </div>
          <input type="text" class="form-control" formControlName="lastname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text">Registration Code</span>
          </div>
          <input type="text" class="form-control" formControlName="registrationcode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <!-- Dob -->
        <div class='input-group mb-3 ' >
            <div class="input-group-prepend">
                <span class="input-group-text">D.O.B</span>
            </div>
              <input class="form-control" placeholder="yyyy/mm/dd" formControlName="dob" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
               <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
              </div>
              <!-- </div> -->
            <!-- <div class="input-group-prepend">
            <span class="input-group-text">D.O.B</span>
           </div>
           <input id="datepicker" class="form-control" formControlName="dob"  placeholder="mm/dd/yy">
            <mat-datepicker-toggle class="btn" matSuffix [for]="picker"></mat-datepicker-toggle> -->
          <!-- <mat-datepicker #picker></mat-datepicker> -->
        </div>
      <div>
          <button mat-button class="btn btn-danger " *ngIf="!id" type="reset">Reset</button>
          <button mat-button class="btn btn-primary btns"  *ngIf="!id" (click)="addData()">Add</button>
          <button mat-button class="btn btn-primary"  *ngIf="id" (click)="updtaeData()">Update</button>
          <button mat-button class="btn btn-danger btns" *ngIf="id" (click)="deleteData()">Delete</button>
      </div>

</mat-card-content>
</form>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
  <form [formGroup]="searchData">
    <div class="input-group mb-3">
      <input type="text" class="form-control search" placeholder="search here throgh first name..." formControlName="search"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <button class="btn btnsearch btn-primary" (click)="retriveCourse()">search</button>
    </div>
  </form>
</mat-card-content>
</mat-card>
<br>
     <table class="table table-striped" *ngIf="tableData">
    <thead>
      <tr>
        <!-- <th>Id</th> -->
        <th scope="col">Student Id</th>
        <th scope="col">School Id</th>
        <th scope="col">Course Id</th>
        <th scope="col">Batch Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Registration Code</th>
        <th scope="col">D.O.B</th>
      </tr>
  </thead>
  <tbody>
  <tr *ngFor="let table of tableData">
       
       <th scope="row">{{table.id}}</th>
        <!-- <td>{{table.studentid}}</td> -->
        <td>{{table.schoolid}}</td>
        <td>{{table.courseid}}</td>
        <td>{{table.batchid}}</td>
        <td>{{table.firstname}}</td>
        <td>{{table.middlename}}</td>
        <td>{{table.lastname}}</td>
        <td>{{table.registrationcode}}</td>
        <td>{{table.dob.day}}/{{table.dob.month}}/{{table.dob.year}}</td>
           <button mat-button class="btn btn-primary editbtns"  (click)="editData(table.id)">Edit</button>
      </tr>
  </tbody>
  </table>
</div>