.container {
    padding: 60px;
    width: 80%;
  }
  
  mat-form-field>input{
      width: 100%;
  }
  .btn-danger{
      margin-left: 15px;
  }
  mat-card-title{
      text-align: center;
  }

  mat-datepicker-toggle{
      margin-left: -50px;
      margin-top: -10px;
      height: 10px;
  }
  .addbatch{
      float: right !important;
  }

  .editbtns{
    margin-top: 5px;
    width: 80px;
    height: 40px;
    margin-left: 10px;
  }

  .search{
    width: 50%;
  }
  .btnsearch{
      width: 250px;
      border:1px solid black;
  }
.btns{
    margin-left: 10px;
}