/* div{
    padding: 0px;
}
.collapse:hover{
    display: inline;
}

.menu{
    cursor: pointer;
}
.navhead{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}
.routerOutlet1{
    position: absolute;
    top: 5em;                        
    left: 0px;
    width: 100%;
    overflow: auto;
} */


mat-sidenav-container, mat-sidenav-content, mat-side-nav{
    height: 100%;
}

mat-sidenav{
    width: 250px;
}
main{
    padding: 10px;
}