<button mat-button class="button" data-toggle="collapse" data-target="#colapse"
 aria-expanded="false" aria-controls="collapseExample">Manage Dashlets</button>

 <div class="collapse" id="colapse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 " >
        <div class="chkbox">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">Absent Student</label>
        </div>
      </div>
      </div>
      <div class="col-sm-3 ">
          <div class="chkbox">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Admitted Employees</label>
              </div>
            </div>
      </div>
      <div class="col-sm-3 ">
          <div class="chkbox">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Admitted Students</label>
              </div>
            </div>
      </div>
      <div class="col-sm-3 ">
          <div class="chkbox">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" >
                <label class="form-check-label" >Birthdays</label>
              </div>
            </div>
      </div>
    </div>
  </div>
 </div>