<button mat-button class="button" data-toggle="collapse" data-target="#colapse"
>Manage Dashlets</button>
 <div class="collapse" id="colapse">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group form-check">
      <div *ngFor="let manageDashelts1 of ManageDashlets1">
        <input type="checkbox">
        <label class="form-check-label" for="exampleCheck1">{{manageDashelts1}}</label>
      </div>
    </div>
      <div class="form-group form-check">
        <div *ngFor="let manageDashelts2 of ManageDashlets2">
          <input type="checkbox">
          <label class="form-check-label" for="exampleCheck1">{{manageDashelts2}}</label>
        </div>
      </div>
      <div class="form-group form-check">
          <div *ngFor="let manageDashelts2 of ManageDashlets2">
            <input type="checkbox">
            <label class="form-check-label" for="exampleCheck1">{{manageDashelts2}}</label>
          </div>
       </div>
 </div>
   
</div>
 </div>
 