<!-- 
<nav class="navbar navbar-default sNav">
        <div class="container-fluid">
          <div class="menuRight">
                  <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/login']">home</a></li>
                    <li><a [routerLink]="['/login']">about us</a></li>
                    <li><a [routerLink]="['/login']">products</a></li>
                    <li><a [routerLink]="['/login']">contact</a></li>
                  </ul>
          </div>
        </div>
        <div class="container">
            <div class="container" id="logo">
              R
            </div>
            <div class="container" id="cname">
              RUBUHA
      
            </div>
        </div>
</nav>

<app-carousel1></app-carousel1> -->