.button{
    margin-right: 50px;
    float: right !important;
    background-color: rgb(97, 96, 94);
    color: white;
}
.button:hover{
    background-color: rgb(49, 48, 47);
}

.button:focus{
    background-color: blue;
}

.chkbox{
    background-color: rgb(224, 220, 220);
    height: 30px;
   }
